$gradientColorFrom: #D9D5FF;
$gradientColorTo: #8B80DC;

$primaryColor: #501E96;
$darkPrimaryColor: #301254;

$lightText: #FFFFFF;
$neutralColor: #d7d7d7;

// header
$headerBg: #FFFFFF;

// post
$postBg: #FFFFFF;
$postBorder: transparent;
$postCancelEdit: #9f9f9f;
$postRemoveColor: #ae5050;
$postEditBg: #FFA000;
$postActionColor: #FFFFFF;
$postDisabledColor: #9f9aa5;

// Map
$mapBg: '#FFFFFF';
